*
!.gitignore
!README.md
!Snakefile
!scripts
!scripts/*
!install
!install/*
!workflow
!workflow/*
!workflow/*/*
!profiles
!profiles/*/
!profiles/*/*
!cluster.json
!config.yaml
!samples.tsv
!run*
!envs
!envs/*
